
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.log


venv/
ENV/
env/
.venv/


.ipynb_checkpoints/


.streamlit/secrets.toml
.streamlit/*.json





*.onnx
*.pt
*.pth
*.bin
*.safetensors



*.parquet
*.feather


.cache/
*.cache
**/__pycache__/
.DS_Store
Thumbs.db

~/.cache/huggingface/
huggingface/

logs/
*.log



.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln


.DS_Store
Thumbs.db

model/bert_model/pytorch_model.bin
model/bert_model/model.safetensors
model/meta_logreg.pkl
model/xgb_tabular.pkl
data/*.csv
